
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #4d2323;
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; 
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

.header {
    background-color: #829985;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.header h1 {
    color: #fff; 
    margin-top: 10px; 
}

.header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: #fff; 
}

.main {
    width: 100%;
    padding: 20px 0;
    background-color: #fff; 
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-container section {
    width: 100%; /* Занимает всю ширину контейнера */
    padding: 20px; /* Внутренний отступ для секций */
    background-color: #fff; /* Цвет фона секций */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока */
    margin-bottom: 0; /* Убираем отступ между секциями */
}

.footer {
    background-color: #829985;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
}

.footer img {
    max-width: 150px;
    height: auto;
}

.header-photo {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.certificate {
    width: 100%; 
    max-width: 500px; 
    height: auto;
}

